[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aniso8601 = "==8.0.0"
boto3 = "==1.12.21"
botocore = "==1.15.21"
certifi = "==2019.11.28"
chardet = "==3.0.4"
click = "==7.1.1"
docutils = "==0.15.2"
elasticsearch = "==7.5.1"
flask = "==1.1.1"
flask-restful = "==0.3.8"
idna = "==2.9"
itsdangerous = "==1.1.0"
jinja2 = "==2.11.1"
jmespath = "==0.9.5"
joblib = "==0.14.1"
markupsafe = "==1.1.1"
nltk = "==3.4.5"
numpy = "==1.18.1"
python-dateutil = "==2.8.1"
pytz = "==2019.3"
regex = "==2020.2.20"
requests = "==2.23.0"
requests-aws4auth = "==0.9"
s3transfer = "==0.3.3"
sacremoses = "==0.0.38"
scikit-learn = "==0.22.2.post1"
scipy = "==1.4.1"
sentence-transformers = "==0.2.5.1"
sentencepiece = "==0.1.85"
six = "==1.14.0"
torch = "==1.4.0"
tqdm = "==4.43.0"
transformers = "==2.3.0"
urllib3 = "==1.25.8"
werkzeug = "==1.0.0"

[requires]
python_version = "2.7"
